/* You can add global styles to this file, and also import other style files */
:root {
  --color-primario: #023047;
  --color-secundario: #232838;
  --color-oscuro: #212121;
  --color-gris: #878077;
}

body {
  background-color: var(--color-primario);
  color: white;
}
